<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('common/head'); %>

    <script src="../event.js" defer></script>
    <script src="../dataViews.js" defer></script>
</head>

<body>
  <%- include('common/sidebar'); %>

    <main>

      <h1>Eventos</h1>

      <%- include('common/tableOptions'); %>

        <!-- TABLE -->
        <table>
          <thead>
            <tr>
              <th class="cell-column cell-center">Id</th>
              <th class="cell-column">Nome</th>
              <th class="cell-column">Capacidade</th>
              <th class="cell-column">Data</th>
              <th class="cell-column cell-center">Ações</th>
            </tr>
          </thead>
          <tbody>

            <% for (event of events) { %>
              <tr>
                <td class="cell-row"> <%- event.id; %> </td>
                <td class="cell-row"> <%- event.name; %> </td>
                <td class="cell-row"> <%- event.capacity; %> </td>
                <td class="cell-row"> <%- event.date.toLocaleDateString('pt-BR'); %> </td>

                <td class="cell-row">
                  <button class="edit-btn" data-event='<%- JSON.stringify(event) %>' onclick="showEditModal(this)">
                    Editar
                  </button>
                  <button onclick="showConfirm(this)" data-id="<%- event.id %>">Remover</button>
                </td>
              </tr>
              <% } %>

          </tbody>
        </table>
    </main>

    <!-- MODAL -->
    <dialog closedby="any" id="dataModal">
      <form onsubmit="saveEvent(event)" data-userid="<%- user.id %>">
        <!-- HEADER -->
        <%- include('common/modalFooter') %>

          <div class="modal-body">
            <!-- NAME -->
            <div>
              <label for="name">Nome</label>
              <input autocomplete="name" type="text" id="name" name="name" required placeholder="Digite o nome">
            </div>

            <!-- DATE -->
            <div>
              <label for="date">Data</label>
              <input autocomplete="on" type="date" id="date" name="date" required>
            </div>

            <!-- CAPACITY -->
            <div>
              <label for="capacity">Capacidade</label>
              <input autocomplete="on" type="number" id="capacity" name="capacity" required
                placeholder="Informe a capacidade">
            </div>
          </div>

          <!-- FOOTER -->
          <%- include('common/modalFooter') %>
      </form>
    </dialog>

    <!-- CONFIRM MODAL -->
    <%- include('common/confirmModal', { route: '/events' }) %>
</body>

</html>